{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "scope-enum": [
      2,
      "always",
      [
        "dependabot-config",
        "prettier-config",
        "remark-config",
        "wip"
      ]
    ]
  }
}
